.menu-version-5-inner {
  position: absolute;
  top: 1204px;
  left: 1223px;
  filter: blur(356px);
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(247, 239, 193, 0.52),
    rgba(224, 188, 107, 0.52)
  );
  width: 295px;
  height: 295px;
}
.carousel-item-child {
  position: absolute;
  height: 15.97%;
  width: 23.4%;
  top: 58.29%;
  right: 89.79%;
  bottom: 25.74%;
  left: -13.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-version-5-child {
  position: absolute;
  height: 15.97%;
  width: 23.4%;
  top: 21.09%;
  right: -8.82%;
  bottom: 62.94%;
  left: 85.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 600px;
  object-fit: contain;
}
.rectangle-div {
  position: absolute;
  top: 0px;
  right: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.33);
  width: 1440px;
  height: 600px;
}
.bc9cd51-fbdd-4b9d-9250-bcf0e2b-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 118px;
  height: 118px;
  object-fit: cover;
}
.home-menu-sign {
  position: absolute;
  top: 5px;
  left: 0px;
  font-weight: 300;
  white-space: pre-wrap;
}
.chicken {
  position: relative;
  font-weight: 300;
}
.login-wrapper {
  position: absolute;
  top: 0px;
  left: 275px;
  border-radius: var(--br-5xl);
  background: linear-gradient(90deg, #f7efc1, #e0bc6b);
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 32px;
  box-sizing: border-box;
  color: #232323;
}
.home-menu-sign-in-parent {
  position: absolute;
  top: 40px;
  left: 878px;
  width: 386px;
  height: 37px;
}
.bc9cd51-fbdd-4b9d-9250-bcf0e2b-parent {
  position: absolute;
  top: 36px;
  left: 90px;
  width: 1264px;
  height: 118px;
}
.menu {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  height: 52px;
  flex-shrink: 0;
}
.at-plate-of {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-light-18-size);
  font-weight: 300;
  font-family: var(--special-text-footer);
}
.menu-parent {
  position: absolute;
  top: 226px;
  left: calc(50% - 523px);
  width: 1046px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  text-align: center;
  font-size: var(--h3-gilroy-web-size);
  font-family: var(--h5-gilroy-web);
}
.carousel-indicator {
  position: absolute;
  top: 871px;
  left: -189px;
  filter: blur(356px);
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(247, 239, 193, 0.52),
    rgba(224, 188, 107, 0.52)
  );
  width: 258px;
  height: 303px;
}
.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(35.9px);
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  width: 1260px;
  height: 634px;
}
.appetizers1 {
  position: absolute;
  top: 0px;
  left: 460px;
  text-transform: uppercase;
}
.list-divider {
  position: absolute;
  top: 0px;
  left: 580px;
  border-right: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  width: 1px;
  height: 421px;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 97px;
  left: 51px;
  font-weight: 300;
  display: inline-block;
  width: 472px;
}
.chicken-divider {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 24px;
}
.chicken-parent {
  position: absolute;
  top: 48px;
  left: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--paragraph-light-18-size);
  color: var(--color-gray-200);
}
.image-icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-6xs);
  width: 39px;
  height: 40px;
  object-fit: cover;
}
.ugandan-vegetarian-spring {
  position: absolute;
  top: 5px;
  left: 51px;
  font-weight: 600;
}
.group-inner {
  position: absolute;
  top: 20px;
  left: 249px;
  border-top: 0.6px dashed var(--color-white);
  box-sizing: border-box;
  width: 242.6px;
  height: 0.6px;
}
.delimiter {
  position: absolute;
  top: 2px;
  left: 499px;
  font-size: var(--subh4-poppins-regular-web-size);
  text-transform: capitalize;
}
.image-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 543px;
  height: 40px;
  font-size: var(--subh6-poppins-regular-size);
  color: var(--color-gold);
}
.lorem-ipsum-dolor-sit-amet-con-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 543px;
  height: 108px;
}
.skewer-divider {
  position: absolute;
  top: 20px;
  left: 464px;
  border-top: 0.6px dashed var(--color-white);
  box-sizing: border-box;
  width: 27.6px;
  height: 0.6px;
}
.have-you-tasted-african-spice-parent {
  position: absolute;
  top: 300px;
  left: 0px;
  width: 543px;
  height: 108px;
}
.group-child2 {
  position: absolute;
  top: 20px;
  left: 396px;
  border-top: 0.6px dashed var(--color-white);
  box-sizing: border-box;
  width: 95.6px;
  height: 0.6px;
}
.have-you-tastedugandan-vegetar-parent {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 543px;
  height: 108px;
}
.group-parent {
  position: absolute;
  top: 0px;
  left: 617px;
  width: 543px;
  height: 408px;
}
.group-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 543px;
  height: 408px;
}
.line-parent {
  position: absolute;
  top: 114px;
  left: 0px;
  width: 1160px;
  height: 420px;
  font-size: var(--special-paragraph-lignt-16-size);
  font-family: var(--special-text-footer);
}
.appetizers-parent {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 1160px;
  height: 534px;
}
.rectangle-parent {
  position: absolute;
  top: 875px;
  left: 90px;
  width: 1260px;
  height: 634px;
  font-size: var(--h5-gilroy-web-size);
  font-family: var(--h5-gilroy-web);
}
.category-separator {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 29px;
  background-color: rgba(235, 235, 235, 0.04);
}
.appetizers {
  align-self: stretch;
  position: relative;
}
.appetizers-wrapper {
  position: absolute;
  height: 63.08%;
  width: 12.73%;
  top: 18.46%;
  right: 85.68%;
  bottom: 18.46%;
  left: 1.59%;
  border-radius: var(--br-5xl);
  background: linear-gradient(90deg, #f7efc1, #e0bc6b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: #000;
}
.entres {
  width: 131px;
  position: relative;
  display: inline-block;
}
.entres-wrapper {
  position: absolute;
  height: 63.08%;
  width: 11.06%;
  top: 18.46%;
  right: 73.03%;
  bottom: 18.46%;
  left: 15.91%;
  border-radius: var(--br-18xl);
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.main-courses {
  width: 162px;
  position: relative;
  display: inline-block;
}
.category-names2 {
  position: absolute;
  height: 63.08%;
  width: 12.89%;
  top: 18.46%;
  right: 58.55%;
  bottom: 18.46%;
  left: 28.56%;
  border-radius: var(--br-18xl);
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.desserts {
  width: 134px;
  position: relative;
  display: inline-block;
}
.category-names3 {
  position: absolute;
  height: 63.08%;
  width: 12.89%;
  top: 18.46%;
  right: 44.07%;
  bottom: 18.46%;
  left: 43.04%;
  border-radius: var(--br-18xl);
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.non-alcoholic-drinks1 {
  position: relative;
}
.category-names4 {
  position: absolute;
  height: 63.08%;
  width: 19.65%;
  top: 18.46%;
  right: 22.83%;
  bottom: 18.46%;
  left: 57.52%;
  border-radius: var(--br-18xl);
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.category-names5 {
  position: absolute;
  height: 63.08%;
  width: 19.65%;
  top: 18.46%;
  right: 1.59%;
  bottom: 18.46%;
  left: 78.76%;
  border-radius: var(--br-18xl);
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.category-separator-parent {
  position: absolute;
  top: 750px;
  left: calc(50% - 628px);
  width: 1257px;
  height: 65px;
  text-align: center;
  font-size: var(--subh6-poppins-regular-size);
}
.footer-background {
  position: absolute;
  height: 86.64%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 13.36%;
  left: 0%;
  background-color: #1e1e1e;
}
.about {
  position: absolute;
  width: 57.81%;
  top: 27.46%;
  left: 0%;
  font-weight: 300;
  display: inline-block;
}
.services {
  position: absolute;
  width: 57.81%;
  top: 54.23%;
  left: 0%;
  font-weight: 300;
  display: inline-block;
}
.contact {
  position: absolute;
  width: 57.81%;
  top: 80.99%;
  left: 0%;
  font-weight: 300;
  display: inline-block;
}
.quick-link {
  position: absolute;
  height: 19.01%;
  width: 100%;
  top: 0%;
  left: 0%;
  font-size: var(--special-text-footer-size);
  line-height: 84.5px;
  display: flex;
  align-items: center;
}
.about-parent {
  position: absolute;
  height: 31.63%;
  width: 8.89%;
  top: 26.5%;
  right: 70.42%;
  bottom: 41.87%;
  left: 20.69%;
}
.copyright-2024-all {
  position: absolute;
  height: 8.69%;
  width: 24.51%;
  top: 91.31%;
  left: 37.78%;
  font-weight: 300;
  text-align: center;
  display: inline-block;
}
.contact-us {
  position: absolute;
  height: 18%;
  width: 42.86%;
  top: 0%;
  left: 0%;
  line-height: 84.5px;
  display: flex;
  align-items: center;
}
.ardfrail-ct-millbrook {
  position: absolute;
  top: 74.53%;
  left: 11.9%;
  font-weight: 300;
}
.poamailcom {
  position: absolute;
  top: 36.79%;
  left: 11.9%;
  font-weight: 300;
}
.address-details {
  position: absolute;
  top: 0%;
  left: 11.9%;
  font-weight: 300;
}
.vector-icon {
  position: absolute;
  height: 15.57%;
  width: 4.91%;
  top: 5.57%;
  right: 95.09%;
  bottom: 78.87%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  position: absolute;
  height: 14.34%;
  width: 4.91%;
  top: 41.89%;
  right: 95.09%;
  bottom: 43.77%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  position: absolute;
  height: 18.87%;
  width: 4.17%;
  top: 77.92%;
  right: 95.45%;
  bottom: 3.21%;
  left: 0.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location-icon-parent {
  position: absolute;
  height: 70.67%;
  width: 100%;
  top: 29.33%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  font-size: var(--paragraph-light-18-size);
}
.contact-us-parent {
  position: absolute;
  height: 33.41%;
  width: 23.33%;
  top: 26.5%;
  right: 33.82%;
  bottom: 40.09%;
  left: 42.85%;
  font-size: var(--special-text-footer-size);
}
.follow-us {
  position: absolute;
  height: 27.75%;
  width: 60.01%;
  top: 0%;
  left: 0%;
  line-height: 84.5px;
  display: flex;
  align-items: center;
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 29.4%;
  top: 0%;
  right: 70.6%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child6 {
  position: absolute;
  height: 100%;
  width: 29.4%;
  top: 0%;
  right: 35.6%;
  bottom: 0%;
  left: 35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child7 {
  position: absolute;
  height: 100%;
  width: 29.4%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 70.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-parent {
  position: absolute;
  height: 59.92%;
  width: 100%;
  top: 40.08%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.follow-us-parent {
  position: absolute;
  height: 21.67%;
  width: 13.77%;
  top: 26.5%;
  right: 6.78%;
  bottom: 51.83%;
  left: 79.44%;
  font-size: var(--special-text-footer-size);
}
.bc9cd51-fbdd-4b9d-9250-bcf0e2b-icon1 {
  position: absolute;
  height: 26.28%;
  width: 8.19%;
  top: 16.7%;
  right: 85.83%;
  bottom: 57.02%;
  left: 5.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footer-background-parent {
  position: absolute;
  bottom: 21px;
  left: 0px;
  width: 1440px;
  height: 449px;
}
.menu-version-5 {
  width: 100%;
  position: relative;
  background-color: #0f0f0f;
  height: 2129px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-light-18-size);
  color: var(--color-white);
  font-family: var(--special-text-footer);
}
